<header class="header">
    <div class="logo">
        <a href="/">logo</a>
    </div>
    <nav class="menu">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/portafolio">Portafolio</a></li>
            <li><a href="/contacto">Contacto</a></li>
            <li><a href="/404">Error 404</a></li>
        </ul>
        <ul>
            <li><a href="https://handlebarsjs.com/" target="_blank">documentacion</a></li>
            <li><a href="https://www.sitepoint.com/a-beginners-guide-to-handlebars/" target="_blank">guia rapida</a></li>
            <li><a href="https://github.com/pillarjs/hbs" target="_blank">modulo hbs</a></li>
        </ul>
    </nav>
</header>