<header class="hero is-primary">
    {{!-- <h1 class="title">{{ @blog.title }}</h1>
    <h2 class="subtitle">{{ @blog.description }}</h2>
    <p>hellor world</p> --}}
    <div class="hero-head">
        <nav class="navbar is-primary">
            <div class="container">
                <div class="navbar-burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="navbar-menu">
                    <a href="/" class="navbar-item">Item 1</a>
                    <a href="/" class="navbar-item">Item 2</a>
                    <a href="/" class="navbar-item">Item 3</a>
                    <a href="/" class="navbar-item">Item 4</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container">
            <h1 class="title">{{@blog.title}}</h1>
            <h2 class="subtitle">{{@blog.description}}</h2>
        </div>
    </div>
</header>